.one{
    background-color: rgb(24, 21, 17);
    width: 95vw;
    height: 20vh;
    gap: 8px;
    display: flex;
    margin: 1%;
}
/*two is a div talking about cassava*/
.two{
    width: 22%;
    border: solid 2px rgb(142, 229, 186);
    background-color: bisque 
}
.three{
    background-color: rgb(15, 14, 13);
    width: 95vw;
    height: 20vh;
    display: flex;
    gap: 8px;
    margin: 1%;
}
.four{
    width: 22%;
    border: solid 2px rgb(142, 229, 186);
    background-color: bisque

}
.five{
    background-color: rgb(8, 8, 7);
    width: 95vw;
    height: 20vh;
    display: flex;
    gap: 8px;
    margin: 1%;
}
.six{
    width: 22%;
    border: solid 2px rgb(142, 229, 186);
    background-color: bisque
} 
.seven{
    background-color: rgb(7, 7, 6);
    width: 95vw;
    height: 20vh;
    display: flex;
    gap: 8px;
    margin: 1%;
}
.eight{
     width: 22%;
    border: solid 2px rgb(142, 229, 186);
    background-color: bisque
} 
.nine{
    background-color: rgb(7, 7, 6);
    width: 95vw;
    height: 20vh;
    display: flex;
    gap: 8px;
    margin: 1%;
}
/*ten is div talking about pigs*/
.ten{
 width: 22%;
border: solid 2px rgb(142, 229, 186);
background-color: bisque   
}
.eleven{
     background-color: rgb(7, 7, 6);
    width: 95vw;
    height: 20vh;
    display: flex;
    gap: 8px;
    margin: 1%;
}
.twelve{
   width: 22%;
border: solid 2px rgb(142, 229, 186);
background-color: bisque 
} 
.thirteen{
 background-color: rgb(7, 7, 6);
    width: 95vw;
    height: 20vh;
    display: flex;
    gap: 8px;
    margin: 1%;   
}
.fourteen{
   width: 22%;
border: solid 2px rgb(142, 229, 186);
background-color: bisque  
}
/*here is our css on hover of images*/
.two:hover{
    img:hover{
        transform: scale(1.1);
        opacity: 0.5;}
    }
.four:hover{
    img:hover{
        transform: scale(1.1);
        opacity: 0.5;}    
}
.six:hover{
      img:hover{
        transform: scale(1.1);
        opacity: 0.5;}
}
.eight:hover{
     img:hover{
        transform: scale(1.1);
        opacity: 0.5;}
}
.ten:hover{
   img:hover{
        transform: scale(1.1);
        opacity: 0.5;}  
}
.twelve:hover{
     img:hover{
        transform: scale(1.1);
        opacity: 0.5;}
}
.hover-image {
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
  width: 100%;
  max-width: 500px;
}
.hover-image:hover{
    filter: grayscale(0%);
}
/*normal computer screen*/
.container{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(5, 1fr);
}
.container img{
    width: 100px;
    height: 150px;
    object-fit: cover;
}
/*smaller screen*/
@media screen and (max-width:800px){
    .container{
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        gap: 5px;
    }
    .container img{
        height: 100px;
        width: 100px;
        object-fit: cover;
    }
}
/*phone csreen*/
@media screen and(max-width: 500px) {
    .container img{
        width: 100px;
        height: 30px;
        object-fit: cover;
}
.container{
    object-fit: cover;
    gap: 5px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    box-sizing: border-box;
    display: grid;
}
.container div{
    min-height: 0;
    box-sizing: border-box;
    vertical-align: text-top;
    font-size: 12px;
    text-align: center;
    margin: 0%;
}
}
